{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/carro.css' %}">
    
    <title>CARRINHO</title>
</head>
<body>
    <div class="container d-flex justify-content-between flex-wrap mt-3" style="color: orangered;">
        <a href="/" class="h6 btn btn-primary m-2" style="text-decoration: none;">Continuar comprando</a>
        <h6>TOTAL: <span id="vl_total" class="border border-dark">R$ 0,00</span></h6>
        <div class="d-flex ">
        <button class="btn btn-success d-block m-2" onclick="abrirWhatsApp()">Finalizar</button>
        <button class="btn btn-success d-block m-2" id="mostar">Entrega</button>
    </div>

    </div>
    <div id="carro" class="container">
<!--         
        <div class="border">
            <div class="">
                <p class="mt-1">ADAPT VGA F/DISPLAYPORT M ADP-101BK PLUSC</p>
            </div>
            <div class="row">
                <div class="col">
                    <img style="width:auto; height: 100px;" class="" src="../../static/img/adaptador/adaptador147.jpg" alt="">
                </div>
                <div class="col d-flex">
                    <span class="m-3">Valor: R$ 82,00</span>
                    <span class="m-3">Quantidade <span>1</span></span>
                    <span class="m-3">Valor total: <span>R$ 82,00</span></span>
                </div>      
            </div>
        </div>  -->
    </div>
    
    <div id="popup" class="container-fluid ocultar">
        <p id="close" class="close">X</p>
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" required>
                </div>
                <div class="col-md-6">
                  <label for="cpf" class="form-label">CPF</label>
                  <input type="text" class="form-control" id="cpf" required>
                </div>
                <div class="col-12">
                  <label for="rua" class="form-label">Rua</label>
                  <input type="text" class="form-control" id="rua" placeholder="Av Dorgival" required>
                </div>
                <div class="col-12">
                  <label for="referencia" class="form-label">Ponto de Referencia</label>
                  <input type="text" class="form-control" id="referencia" placeholder="" required>
                </div>
                <div class="col-md-6">
                  <label for="cidade" class="form-label">Cidade</label>
                  <input type="text" class="form-control" id="cidade" required>
                </div>
                <div class="col-md-4">
                  <label for="bairro" class="form-label">Bairro</label>
                  <select id="bairro" class="form-select">
                        <option value="Aeroporto">Aeroporto</option>
                        <option value="Alto Bonito do Triângulo">Alto Bonito do Triângulo</option>
                        <option value="Alto da Boa Vista">Alto da Boa Vista</option>
                        <option value="Asa Norte">Asa Norte</option>
                        <option value="Bacuri">Bacuri</option>
                        <option value="Beira Rio">Beira Rio</option>
                        <option value="Boca da Mata">Boca da Mata</option>
                        <option value="Bom Jesus">Bom Jesus</option>
                        <option value="Bom Sucesso">Bom Sucesso</option>
                        <option value="Brasil Novo">Brasil Novo</option>
                        <option value="Caema">Caema</option>
                        <option value="Centro">Centro</option>
                        <option value="Cidade Jardim">Cidade Jardim</option>
                        <option value="Cinco Irmãos">Cinco Irmãos</option>
                        <option value="Coco Grande">Coco Grande</option>
                        <option value="Conjunto Habitar Brasil">Conjunto Habitar Brasil</option>
                        <option value="Conjunto Planalto">Conjunto Planalto</option>
                        <option value="Conjunto Sebastião Régis">Conjunto Sebastião Régis</option>
                        <option value="Conjunto Nova Vitória">Conjunto Nova Vitória</option>
                        <option value="Distrito Industrial">Distrito Industrial</option>
                        <option value="Entroncamento">Entroncamento</option>
                        <option value="Imigrantes">Imigrantes</option>
                        <option value="Itamar Guará">Itamar Guará</option>
                        <option value="Jardim América">Jardim América</option>
                        <option value="Jardim Andrea">Jardim Andrea</option>
                        <option value="Jardim Camboriú">Jardim Camboriú</option>
                        <option value="Jardim Cinco Estrelas">Jardim Cinco Estrelas</option>
                        <option value="Jardim Cristo Rei">Jardim Cristo Rei</option>
                        <option value="Jardim das Oliveiras">Jardim das Oliveiras</option>
                        <option value="Jardim Democrata">Jardim Democrata</option>
                        <option value="Jardim Europa">Jardim Europa</option>
                        <option value="Jardim Lagoa">Jardim Lagoa</option>
                        <option value="Jardim Lopes">Jardim Lopes</option>
                        <option value="Jardim Morada do Sol">Jardim Morada do Sol</option>
                        <option value="Jardim Oriental">Jardim Oriental</option>
                        <option value="Jardim Pérola">Jardim Pérola</option>
                        <option value="Jardim Planalto">Jardim Planalto</option>
                        <option value="Jardim Primavera">Jardim Primavera</option>
                        <option value="Jardim São Francisco">Jardim São Francisco</option>
                        <option value="Jardim São Luís">Jardim São Luís</option>
                        <option value="Jardim Tropical">Jardim Tropical</option>
                        <option value="João Paulo II">João Paulo II</option>
                        <option value="Juçara">Juçara</option>
                        <option value="Lagoinha">Lagoinha</option>
                        <option value="Leandra">Leandra</option>
                        <option value="Loteamento Santa Clara">Loteamento Santa Clara</option>
                        <option value="Maranhão Novo">Maranhão Novo</option>
                        <option value="Mata Verde">Mata Verde</option>
                        <option value="Mercadinho">Mercadinho</option>
                        <option value="Morada do Bosque">Morada do Bosque</option>
                        <option value="Mutirão">Mutirão</option>
                        <option value="Nova Imperatriz">Nova Imperatriz</option>
                        <option value="Novo Horizonte">Novo Horizonte</option>
                        <option value="Ouro Verde">Ouro Verde</option>
                        <option value="Parque Alvorada">Parque Alvorada</option>
                        <option value="Parque Alvorada II">Parque Alvorada II</option>
                        <option value="Parque Amazonas">Parque Amazonas</option>
                        <option value="Parque Anhanguera">Parque Anhanguera</option>
                        <option value="Parque Avenida">Parque Avenida</option>
                        <option value="Parque Buriti">Parque Buriti</option>
                        <option value="Parque da Lagoa">Parque da Lagoa</option>
                        <option value="Parque das Estrelas">Parque das Estrelas</option>
                        <option value="Parque das Flores">Parque das Flores</option>
                        <option value="Parque das Mangueiras">Parque das Mangueiras</option>
                            <option value="Parque das Mansões">Parque das Mansões</option>
                            <option value="Parque das Palmeiras">Parque das Palmeiras</option>
                            <option value="Parque das Palmeiras II">Parque das Palmeiras II</option>
                            <option value="Parque do Bosque">Parque do Bosque</option>
                            <option value="Parque Independência">Parque Independência</option>
                            <option value="Parque Planalto">Parque Planalto</option>
                            <option value="Parque Sanharol">Parque Sanharol</option>
                            <option value="Parque Santa Lúcia">Parque Santa Lúcia</option>
                            <option value="Parque São José">Parque São José</option>
                            <option value="Parque Sumaré">Parque Sumaré</option>
                            <option value="Parque Tocantins">Parque Tocantins</option>
                            <option value="Parque Vitória">Parque Vitória</option>
                            <option value="Park Imperial">Park Imperial</option>
                            <option value="Portal da Amazônia">Portal da Amazônia</option>
                            <option value="Recanto Estrela da Manhã">Recanto Estrela da Manhã</option>
                            <option value="Recanto Universitário">Recanto Universitário</option>
                            <option value="Residencial Califórnia">Residencial Califórnia</option>
                            <option value="Residencial Colina Park">Residencial Colina Park</option>
                            <option value="Residencial Dom Afonso Felippe Gregory">Residencial Dom Afonso Felippe Gregory</option>
                            <option value="Residencial Eco Park">Residencial Eco Park</option>
                            <option value="Residencial Império Romano">Residencial Império Romano</option>
                            <option value="Residencial Kubitschek">Residencial Kubitschek</option>
                            <option value="Residencial Sebastião Régis">Residencial Sebastião Régis</option>
                            <option value="Residencial Teotônio Vilela">Residencial Teotônio Vilela</option>
                            <option value="Residencial Verona">Residencial Verona</option>
                            <option value="Santa Inês">Santa Inês</option>
                            <option value="Santa Luzia">Santa Luzia</option>
                            <option value="Santa Rita">Santa Rita</option>
                            <option value="Santo Amaro">Santo Amaro</option>
                            <option value="São José do Egito">São José do Egito</option>
                            <option value="São Salvador">São Salvador</option>
                            <option value="Setor Parque de Exposições">Setor Parque de Exposições</option>
                            <option value="Setor Rodoviário">Setor Rodoviário</option>
                            <option value="Sol Nascente">Sol Nascente</option>
                            <option value="Super Quadra 602">Super Quadra 602</option>
                            <option value="Três Poderes">Três Poderes</option>
                            <option value="União">União</option>
                            <option value="Vale do Sol">Vale do Sol</option>
                            <option value="Vila Airton Senna">Vila Airton Senna</option>
                            <option value="Vila Bandeirantes">Vila Bandeirantes</option>
                            <option value="Vila Brasil">Vila Brasil</option>
                            <option value="Vila Cafeteira">Vila Cafeteira</option>
                            <option value="Vila Carajás">Vila Carajás</option>
                            <option value="Vila Esmeralda">Vila Esmeralda</option>
                            <option value="Vila Fiquene">Vila Fiquene</option>
                            <option value="Vila Independente">Vila Independente</option>
                            <option value="Vila Ipiranga">Vila Ipiranga</option>
                            <option value="Vila Jardim">Vila Jardim</option>
                            <option value="Vila JK">Vila JK</option>
                            <option value="Vila João Castelo">Vila João Castelo</option>
                            <option value="Vila Lobão">Vila Lobão</option>
                            <option value="Vila Macedo">Vila Macedo</option>
                            <option value="Vila Maderminas">Vila Maderminas</option>
                            <option value="Vila Maria">Vila Maria</option>
                            <option value="Vila Mariana">Vila Mariana</option>
                            <option value="Vila Nova">Vila Nova</option>
                            <option value="Vila Parati">Vila Parati</option>
                            <option value="Vila Palmares">Vila Palmares</option>
                            <option value="Vila Redenção">Vila Redenção</option>
                            <option value="Vila Redenção II">Vila Redenção II</option>
                            <option value="Vila Verde">Vila Verde</option>
                            <option value="Vila Vitória">Vila Vitória</option>
                            <option value="Vila Zenira">Vila Zenira</option>
                            <option value="Vilinha">Vilinha</option>         
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="numero" class="form-label">N°</label>
                  <input type="text" class="form-control" id="numero">
                </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" value="Dinheiro" type="radio" id="gridCheck" name="pagamento">
                    <label class="form-check-label" for="gridCheck">
                      Dinheiro
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" value="Pix" type="radio" id="gridCheck" name="pagamento">
                    <label class="form-check-label" for="gridCheck">
                      Pix
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" value="Debito" type="radio" id="gridCheck" name="pagamento">
                    <label class="form-check-label" for="gridCheck">
                      Debito
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" value="Credito" type="radio" id="gridCheck" name="pagamento">
                    <label class="form-check-label" for="gridCheck">
                      Credito
                    </label>
                  </div>
                </div>
                <div class="col-12">
                <button type="submit" id="ocultar" class="btn btn-primary mb-4">Concluir</button>
                </div>
            </div>
        </div>
        
    </div>

    <script src="{% static 'js/carrinho.js' %}"></script>
    <script src="{% static 'js/teste.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>