{% extends 'home.html' %}


{% block content %}
    <div class="container bg-dark text-light">
        <div class="row mb-5">
            <div style="width: 480px; height: auto;"  class="col-lg">
            <img class="w-100"  src="../../static/img/servicos/formataçao.jpg" alt="">
            </div>
            <div class="col-lg">  
                <h1 class="h3">FORMATAÇÃO</h1>
                <p>A Novatek é reconhecida como líder no setor de formatação 
                de dispositivos, oferecendo o melhor serviço disponível.
                 Sua equipe altamente qualificada possui amplo conhecimento e
                  experiência em formatação de diferentes dispositivos e sistemas 
                  operacionais. Com atendimento personalizado e uso de ferramentas
                   avançadas, a Novatek garante segurança, eficiência e satisfação 
                   do cliente em todas as etapas do processo de formatação.</p>
            </div>
        </div>

        <div class="row mb-5">
                <div  style="width: 480px; height: auto;" class=" col-lg" >
                    <img class="w-100"src="../../static/img/servicos/reparo_carcaca.png" alt="">
                </div>
                <div class="col-lg">
                    <h1 class="h3">REPARO EM CARCAÇA</h1>
                    <p>
                        A Novatek é reconhecida como a líder no mercado
                        de reparo de carcaça de notebook, oferecendo o melhor
                        serviço disponível. Com anos de experiência e uma reputação 
                        impecável, a empresa conquistou a confiança de seus clientes,
                        destacando-se pela excelência e qualidade em seu trabalho. 
                        A Novatek está comprometida em garantir a satisfação do cliente, 
                        proporcionando reparos precisos e eficientes,
                        resultando em notebooks restaurados com uma aparência impecável e funcionalidade plena.
                    </p>
                </div>
        </div>   

        <div class="row mb-5">
            <div style="width: 480px; height: auto;" class=" col-lg">
                <img class="w-100"src="../../static/img/servicos/manutençao.jpg" alt="">
            </div>
            <div class="col-lg">
            <h1 class="h3">MANUTENÇÃO PREVENTIVA</h1>
            <p>
                A Novatek destaca-se como a líder indiscutível
                 no fornecimento do melhor serviço de manutenção
                  preventiva em computadores e notebooks. Com uma 
                  equipe altamente capacitada e experiente, a empresa 
                  realiza inspeções e verificações minuciosas em cada componente,
                   visando identificar e resolver quaisquer problemas antes mesmo 
                   que eles ocorram. Além disso, a Novatek utiliza tecnologias de 
                   ponta e ferramentas especializadas para garantir um desempenho 
                   otimizado e uma vida útil prolongada dos equipamentos. Com um 
                   compromisso inabalável com a satisfação do cliente, a Novatek 
                   assegura a confiabilidade e a tranquilidade de seus clientes, 
                   mantendo seus computadores e notebooks 
                funcionando perfeitamente e evitando possíveis interrupções indesejadas.
            </p>
            </div>
        </div>

    <div class="row mb-5">
        <div style="width: 480px; height: auto;" class=" col-lg">
            <img class="w-100"src="../../static/img/servicos/conserto-placa-mae.jpg" alt="">
        </div>
        <div class="col-lg">
        <h1 class="h3">REPARO EM PLACA MAE</h1>
        <p>
            A Novatek é reconhecida como líder no setor de reparo de placa-mãe
             de computadores e notebooks, oferecendo o melhor serviço do mercado.
              Com uma equipe altamente qualificada e experiente, a empresa se destaca 
              pela sua capacidade de diagnosticar e solucionar uma ampla gama de
               problemas relacionados à placa-mãe. Utilizando tecnologia de ponta
                e ferramentas especializadas, a Novatek garante um reparo preciso e 
                eficiente, garantindo a total funcionalidade dos dispositivos.
                 Além disso, o compromisso com a satisfação do cliente é evidente em 
                 cada etapa do processo, desde o atendimento cordial até a entrega no prazo.
                  Se você está em busca do melhor serviço de reparo de placa-mãe, 
                  não há dúvidas de que a Novatek é a escolha ideal.
        </p>
        </div>
    </div>

    </div>
{% endblock %}