{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta property="og:image" content="../static/img/logo-03.png">
  <meta property="og:image:height" content="300">
  <meta property="og:image:width" content="400">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/img/logo-03.png" type="image/x-png">
  <link rel="stylesheet" href="../static/svg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styler.css' %}">
  <title>{%block title %}Informatica{% endblock %}</title>
</head>

<body class="bg-body">
  <header class="container d-flex flex-column my-3" style="height: 80px;">
    <h1 class="font-weight-bold h1" style="color: orangered; text-shadow:3px 3px 7px#000;">Informática<span
        style="color: aliceblue;"></span></h1>
    <a href="/carrinho" class="car border ml-auto p-2"><img class="w-100" src="../static/img/carrinho.png" alt=""><span
        id="carro" class="qt"></span></a>
  </header>
  <div class="container" style="margin-bottom: 20px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/pagina_de_login">Login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Produtos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- 
                    <a class="dropdown-item" href="/produto/caixa-de-som-portatil">Caixa de som portátil</a>
                    <a class="dropdown-item" href="/produto/cartao-de-memoria">Cartão de memória</a>
                    <a class="dropdown-item" href="/produto/cooler">Cooler</a>
                    <a class="dropdown-item" href="/produto/desktop">Desktop</a>
                    <a class="dropdown-item" href="/produto/hd-externo">HD externo</a>
                    <a class="dropdown-item" href="/produto/hd-interno">HD interno</a>

                    <a class="dropdown-item" href="/produto/microfone">Microfone</a>
                    <a class="dropdown-item" href="/produto/mousepad">Mousepad</a> -->

              <a class="dropdown-item" href="/produto/adaptador">Adaptador</a>
              <a class="dropdown-item" href="/produto/adaptador-wifi">Adaptador Wi-fi</a>
              <a class="dropdown-item" href="/produto/base-para-notebook">Base para notebook</a>
              <a class="dropdown-item" href="/produto/bonecos">Bonecos</a>
              <a class="dropdown-item" href="/produto/cabo-hdmi">Cabo HDMI</a>
              <a class="dropdown-item" href="/produto/cabo-de-rede">Cabo de rede</a>
              <a class="dropdown-item" href="/produto/cadeira">Cadeira</a>
              <a class="dropdown-item" href="/produto/caixa-de-som">Caixa de som</a>
              <a class="dropdown-item" href="/produto/caixa-de-som-bluetooth">Caixa de som Bluetooth</a>
              <a class="dropdown-item" href="/produto/estabilizador">Estabilizador</a>
              <a class="dropdown-item" href="/produto/fone-sem-fio">Fone sem fio</a>
              <a class="dropdown-item" href="/produto/fonte-de-alimentacao">Fonte de alimentação</a>
              <a class="dropdown-item" href="/produto/gabinete">Gabinete</a>
              <a class="dropdown-item" href="/produto/headset">Headset</a>
              <a class="dropdown-item" href="/produto/hub-usb">Hub USB</a>
              <a class="dropdown-item" href="/produto/impressora">Impressora</a>
              <a class="dropdown-item" href="/produto/memoria-ram">Memória RAM</a>
              <a class="dropdown-item" href="/produto/mouse">Mouse</a>
              <a class="dropdown-item" href="/produto/mouse-gamer">Mouse gamer</a>
              <a class="dropdown-item" href="/produto/mouse-sem-fio">Mouse sem fio</a>
              <a class="dropdown-item" href="/produto/monitor">Monitor</a>
              <a class="dropdown-item" href="/produto/no-break">No-Break</a>
              <a class="dropdown-item" href="/produto/notebook">Notebook</a>
              <a class="dropdown-item" href="/produto/teclado">Teclado</a>
              <a class="dropdown-item" href="/produto/teclado-gamer">Teclado gamer</a>
              <a class="dropdown-item" href="/produto/kit-teclado-e-mouse">kit teclado e mouse</a>
              <a class="dropdown-item" href="/produto/roteador">Roteador</a>
              <a class="dropdown-item" href="/produto/pen-drive">Pen drive</a>
              <a class="dropdown-item" href="/produto/pc-completo">PC completo</a>
              <a class="dropdown-item" href="/produto/placa-mae">Placa-mãe</a>
              <a class="dropdown-item" href="/produto/placa-de-video">Placa de vídeo</a>
              <a class="dropdown-item" href="/produto/processador">Processador</a>
              <a class="dropdown-item" href="/produto/switch">Switch</a>
              <a class="dropdown-item" href="/produto/ssd">SSD</a>
              <a class="dropdown-item" href="/produto/ssd_m2">SSD/M2</a>
              <a class="dropdown-item" href="/produto/webcam">Webcam</a>

              <!-- 
                    <a class="dropdown-item" href="/produto/projetor">Projetor</a>
                    <a class="dropdown-item" href="/produto/smartphone">Smartphone</a>
                     -->
              <div class="dropdown-divider"></div>
              <a hidden class="dropdown-item" href="#">Mais</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" hidden href="#">Cadastro</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'busca' %}">
          {% csrf_token %}
          <input name="busca" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>


  {% block content %}
  <div class="container-fluid promocao">
    <h2>PROMOÇÕES DA SEMANA</h2>
  </div>
  
  <div class="container card-produto">
    {% for produto in produto %}
    {% if 'SIM' == produto.promocao and produto.quantidades > 0 %}
    <div id="produto" class="card " style="width: 18rem; ">
      <a href="/ver_mais/{{produto.id}}"><img class="card-img-top w-100" src="{{produto.link_img}}" alt="{{produto.link_img}}"></a>
      <div class="card-body">
        <h5 class="card-title">{{produto.produto}}</h5>
        <p class="card-text">{{produto.descricao}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li id="produto-floot" class="list-group-item v_produto" style="color: orangered;">R$ {{produto.valor}}</li>
      </ul>
      <div class="card-body">
        <a href="/ver_mais/{{produto.id}}" class="card-link btn btn-success">Comprar</a>
        <button id="adicionar1" class="btn btn-primary">Adicionar</button>
      </div>
      <p hidden>{{ produto.codigo_interno }}</p>
    </div>
    {% endif %}
    {% endfor %}

  </div>
  {% endblock %}
  <footer class="text-center text-lg-start bg-dark text-light" style="margin-top: 25px;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span>Fale com algum de nossos vendendores:</span>
      </div>
      <div class="d-flex">
        <a id="link_zap" href="" class="me-4 text-reset">
          <img class="" style="height: 60px; width: 45px;" src="../static/svg/whatsapp.svg" alt="">
        </a>
        <a href="https://instagram.com/novatekitz?igshid=MzRlODBiNWFlZA==" target="_blank" class="me-4 text-reset">
          <img class="" style="height: 60px; width: 45px;" src="../static/svg/instagram.svg" alt="">
        </a>
      </div>

    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2009 Copyright:
      <a class="text-reset fw-bold" href="#">Informatica433.com</a>
    </div>

  </footer>

  <script src="{% static 'js/zap_link.js' %}"></script>
  <script src="{% static 'js/teste.js' %}"></script>
  <script src="{% static 'js/formatar_home.js' %}"></script>
  <script src="{% static 'js/req.js' %}"></script>
  <script>

    window.addEventListener('load', () => {
      const arr = JSON.parse(localStorage.getItem('produto'))
      carro.innerHTML = arr.length
    })

  </script>
</body>

</html>